<%= form_with(model: result) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
        <% result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :min %>
    <%= form.number_field :min %>
  </div>

  <div class="field">
    <%= form.label :max %>
    <%= form.number_field :max %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
