<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @result.text %>
</p>

<p>
  <strong>Min:</strong>
  <%= @result.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @result.max %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
